@use '~web/sass/color';
@use '~web/sass/mixin';
@use '~web/sass/media';

.coffee {
  display: block;
  width: 100%;

  @include media.not_phone() {
    height: 340px;
  }
}

.content {
  padding: 0 20px;
}

.know-each-other {
  background-color: lighten(#1389E4, 30%);
  color: #fff;
}

.right-section {
  flex: 1 0 0;
}

.languages {
  display: flex;
  justify-content: flex-end;
  padding: 0 20px;

  > *:not(:first-child) {
    margin-left: 12px;
  }
}

.language-button {
  border: none;
  background: none;
  padding: 0;
}

.flag-svg {
  width: 42px;
}

.image {
  display: block;
  border-radius: 6px;
  width: 100%;

  @include media.not_phone() {
    height: 240px;
  }
}

.goals {
  display: flex;
  flex-direction: column;
}

.link {
  text-decoration: none;
  color: color.$anchor;
}

.root {
  background-color: white;
}

.section {
  padding: 20px 0;
}

.text-content {
  font-size: 1.1rem;
}

.text-vertical-spacing {
  > :not(:first-child) {
    margin-top: 12px;
  }
}

.title {
  font-size: 2rem;
}

.left-section {
  flex: 1 0 0;
}

.what-i-am-looking-for {
  background-color: lighten(#1389E4, 30%);
  color: #fff;
}

.what-i-am-looking-for-title {
  color: #fff;
}

@include media.phone() {
  .content {
    > *:not(:first-child) {
      margin-top: 20px;
    }
  }
}

@include media.not_phone() {
  .coffee {
    max-width: media.$content-max-width / 2;
    margin: 0 auto;
    border-radius: 6px;
  }

  .content {
    display: flex;
    align-items: center;
    max-width: media.$content-max-width;
    margin: 0 auto;

    > *:not(:first-child) {
      margin-left: 20px;
    }
  }
}
