* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Indie Flower', cursive;
}

body > .content {
  height: 100vh;
}

.main {
  height: 80%;
}

.main > div {
  display: inline-block;
}

.main > .left {
  float: left;
  width: 48%;
  height: 100%;
  font-size: 2em;
}

.main > .right {
  width: 48%;
  height: 100%;
}

.main > .right > img {
  height: 25%;
  float: right;
}

.main > .left  > h3 {
  padding: 10% 0 0 30%;
}

.bottom {
  height: 20%;
}

.ocean {
  height: 30%;
  overflow: hidden;
  overflow-x: hidden;
  text-align: center;
}

.ocean > img {
  height: 100%;
  animation: shake;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 2500ms;
}

.above-ocean {
  height: 70%;
}

.above-ocean > img {
  height: 100%;
}

.right-animation {
  animation: right 35s infinite;
}

.rock-animation {
  animation: rock 4s infinite;
}

.spin-animation {
  animation: spin 100s infinite;
}

.boat-container {
  display: inline-block;
}

.boat, .boat-container {
  height: 100%;
}

.boat {
  position: absolute;
  top: 15%;
}

@keyframes rock {
  25% {
    transform: rotate(5deg);
  }

  75% {
    transform: rotate(-5deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes right {
  100% {
    transform: translate3d(100vw, 0, 0);
  }
}

@keyframes shake {
  50% {
    transform: translate3d(8px, 2px, 0);
  }

  100% {
    transform: translate3d(0px, 0, 0);
  }
}
