{
  "presets": ["@babel/preset-react"],
  "plugins": [
    [
      "react-css-modules", {
        "generateScopedName": "[path]-[name]-[local]",
        "filetypes": {
          ".scss": {
            "syntax": "postcss-scss"
          }
        }
      }
    ]
  ]
}
