h1, h2, h3, h4, h5, h6, p, span, a {
  font-family: 'Open Sans', sans-serif;
}

body > div {
  padding: 0 3em;
  max-width: 60em;
  margin: 0 auto;
}

.content {
  margin: 0 auto;
}

.en-US {
  display: none;
}