* {margin: 0; padding: 0;}

a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6, p, span, a {
  font-family: 'Open Sans', sans-serif;
}

div.main {
  padding: 2em;
}

div.resume {
  margin-top: 4rem;
}

div.main > div {
  margin-top: 1rem;
}

h4 {
  margin-top: 2rem;
}

ul {
  list-style-type:none;
  margin-left: 1rem;
}

li {
  margin-top: 1rem;
}
