$phone: 550px;
$content-max-width: 1000px;

@mixin phone() {
	@media only screen and (max-width: $phone) {
		@content;
	}
}

@mixin not_phone() {
	@media only screen and (min-width: $phone) {
		@content;
	}
}

@mixin defaultLayout() {
	@include phone() {
		padding: 6px 12px;
	}

	@include not_phone() {
		padding: 16px;
		max-width: 1000px;
		margin-left: auto;
		margin-right: auto;
	}
}
