.list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 12px 0;
}

.interests {
  margin-top: 12px;
}

.sublist {
  margin-left: 24px;
}

.root {
  padding: 80px;
  font-family: 'Open Sans', sans-serif;
}

.text {
  font-size: 1.2rem;
}

a {
  text-decoration: none;
}