<!DOCTYPE html>
<html lang='en'>
  <head>
    <base href="/">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Hello Watcha">
    <title>왓챠 팀 안녕하세요</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="index-<%= htmlWebpackPlugin.options.version %>.css">
  </head>
  <body>
    <div class='projectroot'>
    </div>
    <script src="main-<%= htmlWebpackPlugin.options.version %>.js">
    </script>
  </body>
</html>
